.dropContainer {
  border: 2px solid #eee;
}

.imageContainer {
  border-bottom: 2px solid #eee;
}

.dropContainer:hover {
  border: 2px solid #000;
}
.dropContainer:hover .imageContainer {
  border-bottom: 2px solid #000;
}

.panelBody {
  width: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemsList {
  display: flex;
  overflow-x: auto;
  padding-bottom: 20px;
}

.moreItem {
  border-right: 1px solid #ddd;
  &:last-child {
    border-right: unset;
  }
}

.link {
  display: unset;
}

@media only screen and (max-width: 1400px) {
  .panelBody {
    display: unset;
    justify-content: unset;
    align-items: unset;
  }
}

@media only screen and (max-width: 768px) {
  .link {
    display: none;
  }
}
